.detailed-email {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(84, 11, 11, 0.1);
    margin-left: 25vw;
    margin-top: 100px;
    height: 70vh;
    width: 70vw;

  }


  .subject{
    font-size:40px;
    font-weight: bolder;
  }
  

  .content-inner{
    margin-top: 20px;
  }
  
  
